@font-face {
  font-family: Windows98;
  src: url(Windows-Regular.ttf);
}

h1 {
  text-align: center;
  border-style: solid;
  border-color: rgb(50, 50, 50);
  border-radius: 7px;
  border-width: 3px;
  font-family: Windows98;
  font-size: 40px;
  background-color: rgb(155, 155, 155);
}

body {
background-color: black;
}

p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Windows98;
  font-size: 25px;
}
